.App {
  background-color: var(--background);
  display: flex;
  text-align: center;
  min-height: 100vh;
}

.toggleTheme {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.App {
  color: var(--on-background);
  display: flex;
  flex-direction: column;
  
}
