.App {
  background-color: var(--background);
  display: flex;
  text-align: center;
  min-height: 100vh;
}

.toggleTheme {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.App {
  color: var(--on-background);
  display: flex;
  flex-direction: column;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--surface);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
