.contact {
  margin: 30px 0;
  padding: 30px 0;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--surface);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  position: relative;
}

.anchorrefcontact {
  position: absolute;
  height: 100px;
  top: -100px;
}

.titlecontact {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  margin: 0;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}

.desccontact {
  color: var(--paragraph-text);
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  margin: 0;
  margin-top: 20px;
  font-size: var(--p-size);
  line-height: var(--p-lineweight);
  margin-bottom: 20px;
  max-width: 1000px;
}

.contactform {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  background-color: var(--background);
  border-radius: 0.6rem;
  min-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

label {
  color: var(--paragraph-text);
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}

input {
  font-family: 'Outfit', sans-serif;
  letter-spacing: -0.02rem;
  box-sizing: border-box;
  color: var(--on-surface);
  background-color: var(--background);
  border: none;
  border-bottom: 2px solid var(--surface);
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1rem;
  letter-spacing: 0px;
  font-weight: 200;
  min-width: 100%;
  transition: background-color 0.3s ease-in;
}

input:focus {
  outline: none;
  background-color: var(--surface);
}

textarea#message {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  color: var(--on-surface);
  background-color: var(--background);
  border: none;
  border-bottom: 2px solid var(--surface);
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1.1rem;
  letter-spacing: 0px;
  font-weight: 200;
  resize: none;
  min-width: 100%;
  transition: background-color 0.3s ease-in;
}

textarea#message:focus {
  outline: none;
  background-color: var(--surface);
}

.submitbutton {
  font-family: inherit;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: var(--background);
  border: 1px var(--primary) solid;
  /* background-color: var(--on-tertiary);
    border: 2px var(--surface) solid; */
  border-radius: 0.3rem;
  color: var(--on-background);
  font-weight: 300;
}

.submitbutton:hover {
  background-color: var(--on-tertiary);
  border: 2px var(--on-tertiary) solid;
  color: var(--paragraph-text);
}

::placeholder {
  color: rgb(141, 141, 141);
}

/* Tablet Breakpoint */
@media (max-width: 1200px) {
  .contact {
    padding: 20px 40px;
    padding-bottom: 30px;
  }

  .contactform {
    padding: 10px;
    min-width: auto;
    width: 100%;
    max-width: 750px;

    /* min-width: 800px; */
  }

  input,
  textarea#message {
    font-size: 0.9rem;
    /* min-width: 100%; */
  }

  .submitbutton {
    margin: auto;
  }
}

/* Phone Breakpoint*/
@media (max-width: 600px) {
  .contact {
    padding: 20px 20px;
    padding-bottom: 30px;
  }

  .contactform {
    padding: 10px;
    min-width: 100%;
    /* max-width: 100%; */
  }

  input,
  textarea#message {
    font-size: 0.9rem;
    /* min-width: 100%; */
  }


  .submitbutton {
    margin: auto;
  }

  .desccontact {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .titlecontact {
    margin-bottom: 10px;
  }
}
