.footer {
    display: flex;
    padding: 5px 30px;
    justify-content: space-between;
    background-color: var(--surface);
}

.footername {
    color: var(--primary);
}

.footerimage {
    width: 50px;
}