.footer {
    display: flex;
    padding: 5px 30px;
    justify-content: space-between;
    background-color: var(--surface);
    border-top: 2px var(--on-tertiary) solid;
}

.footername {
    color: var(--primary);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

.footerimage {
    width: 50px;
}