body {
  /* Neutral Blue */
  --primary: #96ccff;
  --secondary: #b9c8da;
  --tertiary: #51d7ef;
  --on-tertiary: #00363e;
  --tertiary-container: #004e5a;
  --paragraph-text: #f3f3f3;

  --background: #1a1c1e;
  --surface: #202427;

  --on-background: #96ccff;
  --on-surface: #e2e2e5;
  --svg: invert(51%) sepia(65%) saturate(3606%) hue-rotate(162deg)
    brightness(96%) contrast(101%);
  --filtertest: invert(66%) sepia(76%) saturate(354%) hue-rotate(144deg)
    brightness(101%) contrast(87%);

  --gradient-one: rgb(26, 28, 30);
  --gradient-two: linear-gradient(
    347deg,
    rgba(26, 28, 30, 1) 0%,
    rgba(33, 38, 41, 1) 100%
  );

  /* Vivid Red */
  /* --primary: #ff0040;
  --secondary: #b9c8da;
  --tertiary: #690C29;
  --on-tertiary: #3E1124;
  --tertiary-container: #690C29;
  
  --background: #16161d;
  --surface: #1b1b24;

  --on-background: #ff0040;
  --paragraph-text: #f3f3f3;
  --on-surface: #e2e2e5;
  --scrim: #000000;
  --svg: invert(12%) sepia(91%) saturate(5660%) hue-rotate(340deg) brightness(105%) contrast(107%);
  --filtertest: invert(9%) sepia(31%) saturate(3114%) hue-rotate(302deg) brightness(91%) contrast(97%); 

  --gradient-one: rgb(22,22,29);
  --gradient-two: linear-gradient(347deg, rgba(22,22,29,1) 0%, rgba(27,27,36,1) 100%); */
}

/* body.light {
  --primary: #00639a;
  --on-primary: #ffffff;
  --primary-container: #cee5ff;
  --on-primary-container: #001d32;
  --secondary: #51606f;
  --on-secondary: #ffffff;
  --secondary-container: #d5e4f7;
  --on-secondary-container: #0e1d2a;
  --tertiary: #006876;
  --on-tertiary: #ffffff;
  --tertiary-container: #a1efff;
  --on-tertiary-container: #001f25;
  --error: #ba1a1a;
  --error-container: #ffdad6;
  --on-error: #ffffff;
  --on-error-container: #410002;
  --background: #fcfcff;
  --on-background: #1a1c1e;
  --surface: #e0e0e0;
  --on-surface: #1a1c1e;
  --surface-variant: #dee3eb;
  --on-surface-variant: #42474e;
  --outline: #72777f;
  --inverse-on-surface: #f0f0f4;
  --inverse-surfact: #2f3033;
  --inverse-primary: #96ccff;
  --shadow: #000000;
  --surface-tint: #00639a;
  --outline-variant: #c2c7cf;
  --scrim: #000000;
  --svg: invert(0%) sepia(92%) saturate(32%) hue-rotate(22deg) brightness(97%) contrast(100%);
} */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --h1-size: 3.2rem;
  --h1-weight: 500;
  --h2-size: 2.4rem;
  --h3-size: 2rem;
  --h3-weight: 400;

  --p-size: 1.2rem;
  --p-lineheight: 1.8rem;
  color: var(--paragraph-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Tablet Breakpoint */
@media (max-width: 1200px) {
  body {
    --h1-size: 2.8rem;
    --h1-weight: 400;
    --h2-size: 2rem;
    --h3-size: 1.6rem;
    --h3-weight: 300;

    --p-size: 1.1rem;
    --p-lineheight: 1.5em;
  }
}

/* Phone Breakpoint*/
@media (max-width: 600px) {
  body {
    --h1-size: 2rem;
    --h1-weight: 400;
    --h2-size: 1.8rem;
    --h3-size: 1.4rem;
    --h3-weight: 300;

    --p-size: 1rem;
    --p-lineheight: 1.4rem;
  }
}
