body {
  --primary: #96ccff;
  --on-primary: #003353;
  --primary-container: #004a75;
  --on-primary-container: #cee5ff;
  --secondary: #b9c8da;
  --on-secondary: #233240;
  --secondary-container: #3a4857;
  --on-secondary-container: #d5e4f7;
  --tertiary: #51d7ef;
  --on-tertiary: #00363e;
  --tertiary-container: #004e5a;
  --on-tertiary-container: #a1efff;
  --error: #ffb4ab;
  --error-container: #93000a;
  --on-error: #690005;
  --on-error-container: #ffdad6;
  --background: #1a1c1e;
  /* --background: #151718; */
  --on-background: #e2e2e5;
  --surface: #212629;
  --on-surface: #e2e2e5;
  --surface-variant: #42474e;
  --on-surface-variant: #c2c7cf;
  --outline: #8c9198;
  --inverse-on-surface: #1a1c1e;
  --inverse-surface: #e2e2e5;
  --inverse-primary: #00639a;
  --shadow: #000000;
  --surface-tint: #96ccff;
  --outline-variant: #42474e;
  --scrim: #000000;
  --svg: invert(100%) sepia(100%) saturate(0%) hue-rotate(275deg) brightness(100%) contrast(103%);
  --filterrest: invert(51%) sepia(65%) saturate(3606%) hue-rotate(162deg) brightness(96%) contrast(101%);
}

/* body.light {
  --primary: #00639a;
  --on-primary: #ffffff;
  --primary-container: #cee5ff;
  --on-primary-container: #001d32;
  --secondary: #51606f;
  --on-secondary: #ffffff;
  --secondary-container: #d5e4f7;
  --on-secondary-container: #0e1d2a;
  --tertiary: #006876;
  --on-tertiary: #ffffff;
  --tertiary-container: #a1efff;
  --on-tertiary-container: #001f25;
  --error: #ba1a1a;
  --error-container: #ffdad6;
  --on-error: #ffffff;
  --on-error-container: #410002;
  --background: #fcfcff;
  --on-background: #1a1c1e;
  --surface: #e0e0e0;
  --on-surface: #1a1c1e;
  --surface-variant: #dee3eb;
  --on-surface-variant: #42474e;
  --outline: #72777f;
  --inverse-on-surface: #f0f0f4;
  --inverse-surfact: #2f3033;
  --inverse-primary: #96ccff;
  --shadow: #000000;
  --surface-tint: #00639a;
  --outline-variant: #c2c7cf;
  --scrim: #000000;
  --svg: invert(0%) sepia(92%) saturate(32%) hue-rotate(22deg) brightness(97%) contrast(100%);
} */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --h1-size: 3.2rem;
  --h1-weight: 500;
  --h2-size: 2.4rem;
  --h3-size: 2rem;
  --h3-weight: 400;

  --p-size: 1.2rem;
  --p-lineheight: 1.8rem;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Tablet Breakpoint */
@media (max-width: 1200px) {
  body {
    --h1-size: 2.8rem;
    --h1-weight: 400;
    --h2-size: 2rem;
    --h3-size: 1.6rem;
    --h3-weight: 300;
  
    --p-size: 1.1rem;
    --p-lineheight: 1.5em;
  }
}

/* Phone Breakpoint*/
@media (max-width: 600px) {
  body {
    --h1-size: 2.4rem;
    --h1-weight: 400;
    --h2-size: 1.8rem;
    --h3-size: 1.4rem;
    --h3-weight: 300;
  
    --p-size: 1rem;
    --p-lineheight: 1.4rem;
  }
}
