.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introductiontitle {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introductiontitle > h1 {
    text-align: start;
    font-size: 3rem;
    margin: 0;
    max-width: fit-content;
}

.introtitlehello {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15rem;
}

.introductiondesccontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    background-color: var(--surface);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.introductiondescsub {
    margin: 0;
    margin-top: 20px;
    text-align: left;
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    border-bottom: 1px solid var(--on-surface);
}

.introductiondesc {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    margin: 20px 0;
    font-size: var(--p-size);
    line-height: var(--p-lineheight);
    max-width: 1000px;
    text-align: center;
    opacity: 0;
    transform: translateY(70px);
    

}

/* fade animation */
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(- 70px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fadeclass {
    animation: fade 1.2s both;
}


.typewritersecond {
    font-size: 5rem;
}

.Typewriter__cursor {
    color: var(--primary);
    font-size: 5rem;
}

.Typewriter__wrapper {
    font-size: 5rem;
}

.arrow {
    position: absolute;
    right: 30px;
    top: 50%;
    filter: var(--svg);
    animation: blinking 1s infinite alternate;
}

/* fadeout animation */
@keyframes fadeout {
    from { opacity: 1;
    }
    to { opacity: 0;
    }
}

.hidden {
    position: absolute;
    right: 30px;
    top: 50%;
    filter: var(--svg);
    animation: fadeout 1.2s both;
}

/* blinking animation */
@keyframes blinking {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

