.introduction {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introductiontitle {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.introductiontitle > h1 {
    text-align: start;
    font-size: 3rem;
    margin: 0;
    max-width: fit-content;
}

.introtitlehello {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15rem;
}

.introductiondesc {
    max-width: 650px;
}

.testclass {
    color: var(--primary)
}

.abc123 {
    font-size: 5rem;
    /* color: green; */
}

.Typewriter__cursor {
    color: purple;
    font-size: 5rem;
}
