nav {
    position: sticky;
    /* border-bottom: 1px solid red; */
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navtitle {

}

.navlinks {
    display: flex;
    gap: 20px;
}   

.navlinks {
    list-style-type: none;
}