.PersonalProjects {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personalprojectsheader {
    margin-bottom: 20px;
    font-size: 3.6rem;
}

.personalprojectdesc {
    margin-top: 0;
    font-size: 1.4rem;
    margin-bottom: 150px;
}

.projectarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20vh;
}

.project {
    display: flex;
    align-items: center;
    text-align: start;

    gap: 80px;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.projectinfo {
    opacity: 0;
    /* transform: translateX(200px); */
    /* border-bottom: solid 1px var(--primary); */
}

.alreadyonpage {
    opacity: 1;
    transform: translateX(0px);
}

.notonpage {
    opacity: 0;
}

@keyframes fadeinfromleftside {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeinfromrightside {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fadeprojectleft {
    animation: fadeinfromleftside 1.2s both;
}

.fadeprojectright {
    animation: fadeinfromrightside 1.2s both;
}

.gifbackground {
    position: relative;
    background-color: var(--surface);
    width: 700px;
    height: 350px;
    border-radius: 0.4rem;
}

.gif {
    position: absolute;
    background-color: var(--background);
    border-radius: 0.4rem;
    /* width: 700px;
    height: 350px; */
    left: 10px;
    top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 2.2px 2.5px 2.6px;
}

.gifright {
    position: absolute;
    background-color: var(--background);
    border-radius: 0.4rem;
    /* width: 700px;
    height: 350px; */
    right: 10px;
    top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) -2.2px 2.5px 2.6px;
}

.projecttitle {
    margin-top: 0;
    font-size: 1.8rem;
    /* text-decoration: underline; */
}

.projectdesc {
    max-width: 500px;
    font-size: 1.3rem;
    margin-bottom: 20px;

}

.projectstack {
    font-style: italic;
}


