.Skillset {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.anchorrefskill {
  position: absolute;
  height: 100px;
  top: -100px;
}

.skillsectiontop {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
}

.skillsettitle {
  margin: 0;
  margin-top: 40px;
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.6);
  width: 1000px;
  text-align: center;
}

.skillsectiontitle {
  margin: 0;
  margin-top: 0px;
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.6);
}

.skillsetdesc {
  color: var(--paragraph-text);
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  max-width: 1000px;
  font-size: var(--p-size);
  line-height: var(--p-lineheight);
  margin-top: 10px;
  margin-bottom: 0;
  text-align: left;
}

.skillsetdescmain {
  color: var(--paragraph-text);
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  max-width: 1000px;
  font-size: var(--p-size);
  line-height: var(--p-lineheight);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px var(--surface) solid;
  padding-bottom: 10px;
}

.skillname {
  margin: 0;
  /* margin-top: 20px; */
  text-align: left;
  font-size: 1.4rem;
  font-weight: var(--h3-weight);
  color: var(--tertiary);
}

.skillscontainer {
  /* width: 900px; */
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  border-bottom: 2px var(--surface) solid;
}

.skillsetlogo {
  width: 70px;
  border-radius: 0.2rem;
  padding: 10px;
  transition:
    transform 0.5s ease-out,
    margin 0.5s ease;
}

.skillsetlogo:hover {
  transform: scale(2);
  margin-left: 40px;
  margin-right: 40px;
}

/* Currently Working On */
.currentlyworkingoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--surface);
  padding-top: 10px;
  padding-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
  gap: 30px;
}

.cwoleft {
  width: 700px;
}

.cworight {
  width: 300px;

}

.currentlyworkingondesc {
  color: var(--paragraph-text-dark);
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  max-width: 1000px;
  text-align: start;
  margin-bottom: 0;
  font-size: var(--p-size);
  line-height: var(--p-lineheight);
}

.currentlyworkingontitle {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  width: 1000px;
  text-align: start;
  color: var(--title-dark);
}

.currentlyworkingonskill {
  margin: 10px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: var(--h3-weight);
  margin-top: 20px;
  color: var(--title-dark);
}

.slideshowarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slideshow {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.slideshowimagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  width: 180px;
  height: 180px;
  border-radius: 1.8rem;
  padding: 10px;
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
}

.slideshowimage {
  width: 140px;
  height: 140px;
}

.Express {
  filter: var(--svg);
}

.leftarrow,
.rightarrow {
  filter: var(--filtertest);
  cursor: pointer;
  width: 50px;
}

/* Tablet Breakpoint */
@media (max-width: 1200px) {

  .skillsettitle {
    margin-top: 20px;
  }

  .skillsetdesc,
  .skillsetdescmain {
    width: 90%;
  }
  .slideshowimage {
    width: 115px;
    height: 115px;
  }
  .slideshowimagecontainer {
    width: 140px;
  }
  .slideshow {
    gap: 10px;
  }

  .rightarrow,
  .leftarrow {
    width: 70px;
  }

  .skillsectiontop {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    max-width: 1000px;
  }

  .currentlyworkingoncontainer {
    flex-direction: column;
    gap: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .currentlyworkingontitle,
  .cwoleft,
  .cworight {
    width: 90%;
    max-width: 1000px;
  }

  .currentlyworkingontitle {
    margin: 0;
    margin-bottom: 5px;
  }

  .currentlyworkingonskill {
    margin: 5px 0;
  }

  .cworight {
    display: none;
  }

  .skillscontainer {
    margin-top: 10px;
  }
}

/* Phone Breakpoint*/
@media (max-width: 600px) {

  .skillsectiontop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    align-items: center;
  }

  .skillname {
    display: none;
  }

  .skillsetdesc,
  .skillsetdescmain,
  .currentlyworkingondesc {
    /* width: 90%; */
    padding: 0px 0px;
  }

  .skillsetdescmain {
    padding-bottom: 10px;
  }

  .slideshowimage {
    width: 60px;
    height: 60px;
  }

  .slideshowimagecontainer {
    width: 80px;
  }

  .slideshow {
    gap: 10px;
  }

  .rightarrow,
  .leftarrow {
    width: 35px;
  }

  @keyframes rotateConveyor {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes resetConveyor {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .skillscontainer {
    display: flex;
    animation: rotateConveyor 25s linear infinite;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 900px;
    border-bottom: unset;
  }

  .skillsetlogo {
    width: 71px;
    transition: none;
    animation: resetConveyor 25s linear infinite;
    animation-fill-mode: forwards; 
    animation-timing-function: linear; 
  }

  .skillsetlogo:hover {
    transform: unset;
    margin-left: unset;
    margin-right: unset;
  }

  .Skillset {
    overflow-x: hidden;
    width: 100%;
  }

  .skillsectiontitle {
    /* width: 90%; */
    text-align: start;
  }

  .currentlyworkingoncontainer {
    margin-top: 10px;
  }

  .skillsettitle  {
    margin-top: 20px;
  }

  .skillsetdescmain {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
