.Skillset {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.anchorrefskill {
    position: absolute;
    /* border: 1px red solid; */
    height: 100px;
    /* width: 100%; */
    top: -100px;
}

.skillsettitle {
    margin: 0;
    margin-top: 40px;
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    /* margin-bottom: 400px; */
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.6);
    
}

.skillsetdesc {
    color: var(--paragraph-text);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    max-width: 1000px;
    font-size: var(--p-size);
    line-height: var(--p-lineheight);
    margin-top: 20px;
    margin-bottom: 0;
}

.skillname {
    margin: 0;
    margin-top: 20px;
    text-align: left;
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    /* border-bottom: 1px solid var(--surface); */
}

.skillscontainer {
    width: 900px;
    /* border: 2px solid red; */
    position: relative;
    margin-top: 300px;
    margin-bottom: 390px;
}
.skillsetlogo {
    width: 70px;
    border-radius: 0.2rem;
}

.skillsetlogo:hover {
    /* padding: 5px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .javascript {
    position: absolute;
    transform: translateX(-160px);
}

.html {
    position: absolute;
    transform: translateX(-410px);
}

.css {
    position: absolute;
    transform: translateX(90px);
}

.reactjs {
    position: absolute;
    transform: translateX(-160px) rotate(60deg) translateX(-245px);
}

.git {
    position: absolute;
    transform: translateX(-160px) rotate(300deg) translateX(-245px) rotate(60deg);
}

.webpack {
    position: absolute;
    transform: translateX(90px) rotate(300deg) translateX(-245px) rotate(60deg);

}
.jest {
    position: absolute;
    transform: translateX(90px) rotate(60deg) translateX(-245px) rotate(300deg);

}
.photoshop {
    position: absolute;
    transform: translateX(340px);

}
.illustrator {
    position: absolute;
    transform: translateX(340px) rotate(300deg) translateX(-245px) rotate(60deg);

}
.aftereffects {
    position: absolute;
    transform: translateX(340px) rotate(60deg) translateX(-245px) rotate(300deg);
} */

.line-middle-one {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(55px) translateY(35px);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-middle-two {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(355px) translateY(35px);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-middle-three{
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(655px) translateY(35px);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-top-one {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(-10px) translateY(-95px) rotate(120deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-top-two {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(120px) translateY(-95px) rotate(60deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-top-three {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(290px) translateY(-95px) rotate(120deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-top-four {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(590px) translateY(-95px) rotate(120deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-top-five {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(720px) translateY(-95px) rotate(60deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-bottom-one {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(-10px) translateY(165px) rotate(60deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-bottom-two {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(120px) translateY(165px) rotate(120deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-bottom-three {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(290px) translateY(165px) rotate(60deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-bottom-four {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(590px) translateY(165px) rotate(60deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.line-bottom-five {
    position: absolute;
    border: 1px solid var(--paragraph-text);
    border-radius: 1rem;
    width: 190px;
    transform: translateX(720px) translateY(165px) rotate(120deg);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
}

.javascript {
    position: absolute;
    transform: translateX(-185px);
}

.html {
    position: absolute;
    transform: translateX(-485px);
}

.css {
    position: absolute;
    transform: translateX(115px);
}

.reactjs {
    position: absolute;
    transform: translateX(-185px) rotate(60deg) translateX(-300px) rotate(300deg);
}

.git {
    position: absolute;
    transform: translateX(-185px) rotate(300deg) translateX(-300px) rotate(60deg);
}

.webpack {
    position: absolute;
    transform: translateX(115px) rotate(300deg) translateX(-300px) rotate(60deg);

}
.jest {
    position: absolute;
    transform: translateX(115px) rotate(60deg) translateX(-300px) rotate(300deg);

}
.photoshop {
    position: absolute;
    transform: translateX(415px);

}
.illustrator {
    position: absolute;
    transform: translateX(415px) rotate(300deg) translateX(-300px) rotate(60deg);

}
.aftereffects {
    position: absolute;
    transform: translateX(415px) rotate(60deg) translateX(-300px) rotate(300deg);
}

/* Currently Working On */

.currentlyworkingoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--surface);
    padding-top: 10px;
    padding-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.currentlyworkingondesc {
    color: var(--paragraph-text);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    max-width: 1000px;
    margin-bottom: 0;
    font-size: var(--p-size);
    line-height: var(--p-lineheight);

}

.currentlyworkingontitle {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    /* border-bottom: 1px solid var(--on-surface); */
    
}

.currentlyworkingonskill {
    margin: 20px 0;
    text-align: left;
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    /* border-bottom: 1px solid var(--on-surface); */
    /* color: var(--tertiary); */
}

.slideshowarea {
    display: flex;
    flex-direction: row;        
}

.slideshow {
    display: flex;
    flex-direction: row;  
    gap: 40px;
}

.slideshowimagecontainer {
    width: 180px;
    border-radius: 0.5rem;
    padding: 10px;
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.slideshowimage {
    width: 150px;
    height: 150px;
}

.Express {
    filter: var(--svg);
}

.leftarrow, .rightarrow {
    /* filter: invert(13%) sepia(15%) saturate(396%) hue-rotate(159deg) brightness(97%) contrast(96%); */

    filter: var(--filtertest);
    cursor: pointer;
}

  /* Tablet Breakpoint */
  @media (max-width: 1200px) {

    .skillname {
        display: none;
    }

    .skillsetdesc, .currentlyworkingondesc {
        padding: 0px 40px;
    }

    .slideshowimage {
      width: 115px;
      height: 115px;
    }

    .slideshowimagecontainer {
      width: 140px;
    }

    .slideshow {
      gap: 10px;
  }
  .rightarrow, .leftarrow {
      width: 70px;
  }

  /* .skillscontainer {
      rotate: 90deg;
  } */

  .skillscontainer {
      width: 320px;
      /* border: 2px solid red; */
      margin-top: 260px;
      margin-bottom: 320px;
  }

  .skillsetlogo {
      width: 50px;
  }
  
  .line-middle-one {
      width: 80px;
      transform: translateX(120px) translateY(-137px) rotate(90deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-middle-two {
      width: 80px;
      transform: translateX(120px) translateY(23px) rotate(90deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-middle-three {
      width: 80px;
      transform: translateX(120px) translateY(183px) rotate(90deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-top-one {
      width: 60px;
      transform: translateX(72px) translateY(-175px) rotate(320deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-top-two {         
      width: 60px;
      transform: translateX(72px) translateY(-95px) rotate(40deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-top-three {
      width: 60px;
      transform: translateX(72px) translateY(-20px) rotate(320deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-top-four {
      width: 60px;
      transform: translateX(72px) translateY(140px) rotate(320deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-top-five {
      width: 60px;
      transform: translateX(72px) translateY(225px) rotate(40deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-bottom-one {        
      width: 60px;
      transform: translateX(187px) translateY(-175px) rotate(220deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-bottom-two {        
      width: 60px;
      transform: translateX(187px) translateY(-95px) rotate(320deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-bottom-three {
      width: 60px;
      transform: translateX(187px) translateY(-20px) rotate(220deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-bottom-four {
      width: 60px;
      transform: translateX(187px) translateY(140px) rotate(220deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .line-bottom-five {
      width: 60px;
      transform: translateX(187px) translateY(225px) rotate(320deg);
      box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
  }

  .javascript {
      transform: translateX(-25px) translateY(-80px);
  }

  .html {
      transform: translateX(-25px) translateY(-240px);
  }

  .css {
      transform: translateX(-25px) translateY(80px);
  }

  .reactjs {
      transform: translateX(-25px) translateY(-80px) rotate(325deg) translateX(140px) rotate(35deg);
  }

  .git {
      transform: translateX(-25px) translateY(-240px) rotate(145deg) translateX(140px) rotate(215deg);
  }

  .webpack {
      transform: translateX(-25px) translateY(-80px) rotate(145deg) translateX(140px) rotate(215deg);

  }
  .jest {
      transform: translateX(-25px) translateY(80px) rotate(325deg) translateX(140px) rotate(35deg);

  }
  .photoshop {
      transform: translateX(-25px) translateY(240px);

  }
  .illustrator {
      transform: translateX(-25px) translateY(80px) rotate(145deg) translateX(140px) rotate(215deg);

  }
  .aftereffects {
      transform: translateX(-25px) translateY(80px) rotate(35deg) translateX(140px) rotate(325deg);
  }
  }
  
  /* Phone Breakpoint*/
  @media (max-width: 600px) {

    .skillname {
        display: none;
    }
      .skillsetdesc, .currentlyworkingondesc {
          padding: 0px 20px;
      }

      .slideshowimage {
        width: 60px;
        height: 60px;
      }

      .slideshowimagecontainer {
        width: 80px;
      }

      .slideshow {
        gap: 10px;
    }
    .rightarrow, .leftarrow {
        width: 35px;
    }

    /* .skillscontainer {
        rotate: 90deg;
    } */

    .skillscontainer {
        width: 320px;
        /* border: 2px solid red; */
        margin-top: 260px;
        margin-bottom: 320px;
    }

    .skillsetlogo {
        width: 50px;
    }
    
    .line-middle-one {
        width: 80px;
        transform: translateX(120px) translateY(-137px) rotate(90deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-middle-two {
        width: 80px;
        transform: translateX(120px) translateY(23px) rotate(90deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-middle-three {
        width: 80px;
        transform: translateX(120px) translateY(183px) rotate(90deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-top-one {
        width: 60px;
        transform: translateX(72px) translateY(-175px) rotate(320deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-top-two {         
        width: 60px;
        transform: translateX(72px) translateY(-95px) rotate(40deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-top-three {
        width: 60px;
        transform: translateX(72px) translateY(-20px) rotate(320deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-top-four {
        width: 60px;
        transform: translateX(72px) translateY(140px) rotate(320deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-top-five {
        width: 60px;
        transform: translateX(72px) translateY(225px) rotate(40deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-bottom-one {        
        width: 60px;
        transform: translateX(187px) translateY(-175px) rotate(220deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-bottom-two {        
        width: 60px;
        transform: translateX(187px) translateY(-95px) rotate(320deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-bottom-three {
        width: 60px;
        transform: translateX(187px) translateY(-20px) rotate(220deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-bottom-four {
        width: 60px;
        transform: translateX(187px) translateY(140px) rotate(220deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .line-bottom-five {
        width: 60px;
        transform: translateX(187px) translateY(225px) rotate(320deg);
        box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 2.6px;
    }

    .javascript {
        transform: translateX(-25px) translateY(-80px);
    }

    .html {
        transform: translateX(-25px) translateY(-240px);
    }

    .css {
        transform: translateX(-25px) translateY(80px);
    }

    .reactjs {
        transform: translateX(-25px) translateY(-80px) rotate(325deg) translateX(140px) rotate(35deg);
    }

    .git {
        transform: translateX(-25px) translateY(-240px) rotate(145deg) translateX(140px) rotate(215deg);
    }

    .webpack {
        transform: translateX(-25px) translateY(-80px) rotate(145deg) translateX(140px) rotate(215deg);

    }
    .jest {
        transform: translateX(-25px) translateY(80px) rotate(325deg) translateX(140px) rotate(35deg);

    }
    .photoshop {
        transform: translateX(-25px) translateY(240px);

    }
    .illustrator {
        transform: translateX(-25px) translateY(80px) rotate(145deg) translateX(140px) rotate(215deg);

    }
    .aftereffects {
        transform: translateX(-25px) translateY(80px) rotate(35deg) translateX(140px) rotate(325deg);
    }

    }